@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao organizador de grade universitária</h1>
    <p>O objetivo desde projeto é colocar em prática os conhecimentos aprendidos de desenvolvimento Backend com C# ASP .NET Core no formato MVC.
    Portanto, será criado uma aplicação que realiza uma requisição e mostra o curriculo de um curso de Engenharia Civil da Universidade Federal do Ceará</p>
</div>
